# **Classification of Stocks using KNN**

# **0.0 Imports**

In [44]:
!pip install XlsxWriter

Collecting XlsxWriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.0/150.0 kB 3.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.0.3

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [48]:
import pandas as pd
import numpy as np
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
#from google.colab import files (remove # if runnning on a colab file)

# **1.0 Data Description**

**1.1 Loading Data**

In [5]:
df=pd.read_csv('/Users/teja/Downloads/stocks.csv')

In [6]:
df.head(5)

,Unnamed: 0,Ticker,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,...,regularMarketPrice,preMarketPrice,logo_url,fax,trailingPE,address2,underlyingSymbol,underlyingExchangeSymbol,headSymbol,uuid
0,0,AAL,76155,Industrials,129200.0,"American Airlines Group Inc., through its subs...",Fort Worth,682 278 9000,TX,United States,...,13.20,13.46,https://logo.clearbit.com/aa.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AAON,74107,Industrials,2881.0,"AAON, Inc., together with its subsidiaries, en...",Tulsa,918 583 2266,OK,United States,...,55.60,NaN,https://logo.clearbit.com/aaon.com,918 583 6094,53.980583,NaN,NaN,NaN,NaN,NaN
2,2,AAPL,95014,Technology,154000.0,"Apple Inc. designs, manufactures, and markets ...",Cupertino,408 996 1010,CA,United States,...,142.41,144.86,https://logo.clearbit.com/apple.com,NaN,23.538843,NaN,NaN,NaN,NaN,NaN
3,3,AAWW,10577-2543,Industrials,4056.0,"Atlas Air Worldwide Holdings, Inc., through it...",Purchase,914 701 8000,NY,United States,...,99.89,NaN,https://logo.clearbit.com/atlasairworldwide.com,914 701 8333,6.823087,NaN,NaN,NaN,NaN,NaN
4,4,ABCB,30305,Financial Services,2885.0,Ameris Bancorp operates as the bank holding co...,Atlanta,404 639 6500,GA,United States,...,50.40,NaN,https://logo.clearbit.com/amerisbank.com,NaN,10.478171,Suite 1550,NaN,NaN,NaN,NaN

In [7]:
df.tail(5)

,Unnamed: 0,Ticker,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,...,regularMarketPrice,preMarketPrice,logo_url,fax,trailingPE,address2,underlyingSymbol,underlyingExchangeSymbol,headSymbol,uuid
564,564,ZG,98101,Communication Services,6549.0,"Zillow Group, Inc., a digital real estate comp...",Seattle,206 470 7000,WA,United States,...,29.01,NaN,https://logo.clearbit.com/zillowgroup.com,NaN,NaN,Floor 31,NaN,NaN,NaN,16c43867-95fb-384c-9e41-3cc620170b42
565,565,ZI,98660,Technology,2742.0,"ZoomInfo Technologies Inc., through its subsid...",Vancouver,800 914 1220,WA,United States,...,43.81,NaN,https://logo.clearbit.com/zoominfo.com,NaN,NaN,Suite 900,NaN,NaN,NaN,5a070e3e-4810-3f34-80fd-a437bfc5cf82
566,566,ZION,84133-1109,Financial Services,9895.0,"Zions Bancorporation, National Association pro...",Salt Lake City,801 844 7637,UT,United States,...,51.88,NaN,https://logo.clearbit.com/zionsbancorporation.com,NaN,10.546859,NaN,NaN,NaN,NaN,687d0c8c-3762-3a32-b59e-6ee6e99f5d45
567,567,ZM,95113,Technology,7155.0,"Zoom Video Communications, Inc. provides unifi...",San Jose,888 799 9666,CA,United States,...,76.69,NaN,https://logo.clearbit.com/zoom.us,NaN,34.054173,6th Floor,NaN,NaN,NaN,70f73ee5-133f-39c2-b135-16067fabfd87
568,568,ZS,95134,Technology,3153.0,"Zscaler, Inc. operates as a cloud security com...",San Jose,408 533 0288,CA,United States,...,145.28,NaN,https://logo.clearbit.com/zscaler.com,NaN,NaN,NaN,NaN,NaN,NaN,8a6b178d-3af0-35a9-b274-4ca31921d5e2

**1.2 Removing Unnecessary Columns**

In [ ]:
del df['Unnamed: 0']

**1.3 Data Types and Structure**

In [14]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 160 columns):
 #    Column                        Dtype
---   ------                        -----
 0    Ticker                        object
 1    zip                           object
 2    sector                        object
 3    fullTimeEmployees             float64
 4    longBusinessSummary           object
 5    city                          object
 6    phone                         object
 7    state                         object
 8    country                       object
 9    companyOfficers               object
 10   website                       object
 11   maxAge                        int64
 12   address1                      object
 13   industry                      object
 14   ebitdaMargins                 float64
 15   profitMargins                 float64
 16   grossMargins                  float64
 17   operatingCashflow             float64
 18   revenueGrowth                 float64
 19   operatingMargins              float64
 20   ebitda                        float64
 21   targetLowPrice                float64
 22   recommendationKey             object
 23   grossProfits                  float64
 24   freeCashflow                  float64
 25   targetMedianPrice             float64
 26   currentPrice                  float64
 27   earningsGrowth                float64
 28   currentRatio                  float64
 29   returnOnAssets                float64
 30   numberOfAnalystOpinions       float64
 31   targetMeanPrice               float64
 32   debtToEquity                  float64
 33   returnOnEquity                float64
 34   targetHighPrice               float64
 35   totalCash                     float64
 36   totalDebt                     float64
 37   totalRevenue                  float64
 38   totalCashPerShare             float64
 39   financialCurrency             object
 40   revenuePerShare               float64
 41   quickRatio                    float64
 42   recommendationMean            float64
 43   exchange                      object
 44   shortName                     object
 45   longName                      object
 46   exchangeTimezoneName          object
 47   exchangeTimezoneShortName     object
 48   isEsgPopulated                bool
 49   gmtOffSetMilliseconds         int64
 50   quoteType                     object
 51   symbol                        object
 52   messageBoardId                object
 53   market                        object
 54   annualHoldingsTurnover        float64
 55   enterpriseToRevenue           float64
 56   beta3Year                     float64
 57   enterpriseToEbitda            float64
 58   52WeekChange                  float64
 59   morningStarRiskRating         float64
 60   forwardEps                    float64
 61   revenueQuarterlyGrowth        float64
 62   sharesOutstanding             float64
 63   fundInceptionDate             float64
 64   annualReportExpenseRatio      float64
 65   totalAssets                   float64
 66   bookValue                     float64
 67   sharesShort                   float64
 68   sharesPercentSharesOut        float64
 69   fundFamily                    float64
 70   lastFiscalYearEnd             float64
 71   heldPercentInstitutions       float64
 72   netIncomeToCommon             float64
 73   trailingEps                   float64
 74   lastDividendValue             float64
 75   SandP52WeekChange             float64
 76   priceToBook                   float64
 77   heldPercentInsiders           float64
 78   nextFiscalYearEnd             float64
 79   yield                         float64
 80   mostRecentQuarter             float64
 81   shortRatio                    float64
 82   sharesShortPreviousMonthDate  float64
 83   floatShares                   float64
 84   beta                          float64
 85   enterpriseValue               float64
 86   priceHint                     int64
 87   threeYearAverageReturn        float64
 88   lastSplitDate                 float64
 89   lastSplitFactor               object
 90   legalType                     float64
 91   lastDividendDate              float64
 92   morningStarOverallRating      float64
 93   earningsQuarterlyGrowth       float64
 94   priceToSalesTrailing12Months  float64
 95   dateShortInterest             float64
 96   pegRatio                      float64
 97   ytdReturn                     float64
 98   forwardPE                     float64
 99   lastCapGain                   float64
 100  shortPercentOfFloat           float64
 101  sharesShortPriorMonth         float64
 102  impliedSharesOutstanding      float64
 103  category                      float64
 104  fiveYearAverageReturn         float64
 105  previousClose                 float64
 106  regularMarketOpen             float64
 107  twoHundredDayAverage          float64
 108  trailingAnnualDividendYield   float64
 109  payoutRatio                   float64
 110  volume24Hr                    float64
 111  regularMarketDayHigh          float64
 112  navPrice                      float64
 113  averageDailyVolume10Day       int64
 114  regularMarketPreviousClose    float64
 115  fiftyDayAverage               float64
 116  trailingAnnualDividendRate    float64
 117  open                          float64
 118  toCurrency                    float64
 119  averageVolume10days           int64
 120  expireDate                    float64
 121  algorithm                     float64
 122  dividendRate                  float64
 123  exDividendDate                float64
 124  circulatingSupply             float64
 125  startDate                     float64
 126  regularMarketDayLow           float64
 127  currency                      object
 128  regularMarketVolume           int64
 129  lastMarket                    float64
 130  maxSupply                     float64
 131  openInterest                  float64
 132  marketCap                     float64
 133  volumeAllCurrencies           float64
 134  strikePrice                   float64
 135  averageVolume                 int64
 136  dayLow                        float64
 137  ask                           float64
 138  askSize                       int64
 139  volume                        int64
 140  fiftyTwoWeekHigh              float64
 141  fromCurrency                  float64
 142  fiveYearAvgDividendYield      float64
 143  fiftyTwoWeekLow               float64
 144  bid                           float64
 145  tradeable                     bool
 146  dividendYield                 float64
 147  bidSize                       int64
 148  dayHigh                       float64
 149  coinMarketCapLink             float64
 150  regularMarketPrice            float64
 151  preMarketPrice                float64
 152  logo_url                      object
 153  fax                           object
 154  trailingPE                    float64
 155  address2                      object
 156  underlyingSymbol              float64
 157  underlyingExchangeSymbol      float64
 158  headSymbol                    float64
 159  uuid                          object
dtypes: bool(2), float64(119), int64(10), object(29)
memory usage: 703.6+ KB

# **2.0 Selecting column**

**2.1 Selecting Numeric Data from Dataframe**

In [15]:
#Selecting Columns of Numeric Type
data=df.select_dtypes(include=np.number)

**2.1 Extracting Features**

In [16]:
#Dataframe with count of missing values
to_features=pd.DataFrame(data.isna().sum().sort_values())

In [17]:
#Selecting Features with missing values less than 10
features=list(to_features[to_features[0]<10].T.columns)
features

['averageDailyVolume10Day',
 'regularMarketPrice',
 'bid',
 'fiftyTwoWeekLow',
 'gmtOffSetMilliseconds',
 'fiftyTwoWeekHigh',
 'regularMarketDayHigh',
 'volume',
 'askSize',
 'ask',
 'bidSize',
 'priceHint',
 'dayLow',
 'dayHigh',
 'regularMarketVolume',
 'maxAge',
 'regularMarketPreviousClose',
 'regularMarketDayLow',
 'twoHundredDayAverage',
 'regularMarketOpen',
 'previousClose',
 'averageVolume10days',
 'fiftyDayAverage',
 'averageVolume',
 'open',
 'sharesPercentSharesOut',
 'lastFiscalYearEnd',
 'netIncomeToCommon',
 'heldPercentInsiders',
 'nextFiscalYearEnd',
 'dateShortInterest',
 'shortRatio',
 'enterpriseValue',
 'heldPercentInstitutions',
 'mostRecentQuarter',
 'sharesShort',
 'grossMargins',
 'ebitdaMargins',
 'operatingMargins',
 'totalCash',
 'totalDebt',
 'currentPrice',
 'totalCashPerShare',
 'profitMargins',
 'sharesShortPriorMonth',
 'sharesShortPreviousMonthDate',
 'floatShares',
 'bookValue',
 'totalRevenue',
 'enterpriseToRevenue',
 'trailingEps',
 'revenuePerShare',
 'marketCap',
 'sharesOutstanding',
 'grossProfits']

**2.2 Dataset with selected features**

In [18]:
knn_data=data[['volume', 'twoHundredDayAverage', 'shortRatio',
 'enterpriseValue','ebitdaMargins','grossMargins','totalDebt','totalCash','bookValue',
 'trailingEps','marketCap']]

In [20]:
knn_data.head(5)

,volume,twoHundredDayAverage,shortRatio,enterpriseValue,ebitdaMargins,grossMargins,totalDebt,totalCash,bookValue,trailingEps,marketCap
0,39973756,15.67745,2.66,4.086248e+10,0.02284,0.17474,4.486500e+10,1.252200e+10,-12.961,-3.671,8.577967e+09
1,141427,57.15230,6.39,2.976777e+09,0.15225,0.23409,1.121650e+08,1.764700e+07,9.233,1.030,2.955618e+09
2,85250939,157.99880,1.06,2.295331e+12,0.33430,0.43314,1.196910e+11,4.823100e+10,3.610,6.050,2.288643e+12
3,202038,80.77540,3.58,4.485216e+09,0.23141,0.30877,2.269519e+09,6.065670e+08,101.147,14.640,2.828985e+09
4,385393,46.01320,4.06,1.667794e+09,0.00000,0.00000,5.538700e+08,2.306836e+09,44.455,4.810,3.495749e+09

In [19]:
knn_data.tail(5)

,volume,twoHundredDayAverage,shortRatio,enterpriseValue,ebitdaMargins,grossMargins,totalDebt,totalCash,bookValue,trailingEps,marketCap
564,873861,41.70730,3.49,7.707831e+09,-0.01193,0.16861,2.713000e+09,3.626000e+09,19.714,-0.724,7.521365e+09
565,2534503,46.66600,3.51,1.617385e+10,0.22295,0.86704,1.303000e+09,4.137000e+08,4.763,-0.033,1.766494e+10
566,1286684,59.45610,1.24,6.192193e+09,0.00000,0.00000,1.689000e+09,4.385000e+09,44.976,4.919,8.117301e+09
567,3321249,110.39125,2.03,2.536443e+10,0.27127,0.75070,1.011880e+08,5.726279e+09,13.152,2.252,2.285324e+10
568,2560976,193.74545,2.62,2.134456e+10,-0.29224,0.77543,1.005206e+09,1.657874e+09,3.700,-1.445,2.035111e+10

**2.3 Removing Missing Values**

In [21]:
knn_data.isna().sum()

volume                  0
twoHundredDayAverage    0
shortRatio              1
enterpriseValue         1
ebitdaMargins           1
grossMargins            1
totalDebt               1
totalCash               1
bookValue               5
trailingEps             6
marketCap               8
dtype: int64

In [22]:
knn_data=knn_data.fillna(0)
knn_data.isna().sum()

volume                  0
twoHundredDayAverage    0
shortRatio              0
enterpriseValue         0
ebitdaMargins           0
grossMargins            0
totalDebt               0
totalCash               0
bookValue               0
trailingEps             0
marketCap               0
dtype: int64

# **3.0 Classification Using KNN**

**3.1 Feature Transformation**

In [23]:
scalar=MinMaxScaler()
knn_data_scaled=scalar.fit_transform(knn_data)

In [24]:
knn_data_scaled=pd.DataFrame(knn_data_scaled,columns=knn_data.columns)

**3.2 Transformed Data Description**

In [25]:
knn_data_scaled.describe()

,volume,twoHundredDayAverage,shortRatio,enterpriseValue,ebitdaMargins,grossMargins,totalDebt,totalCash,bookValue,trailingEps,marketCap
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,0.035129,0.044703,0.164546,0.032712,0.788058,0.852193,0.030881,0.020710,0.105044,0.349547,0.012649
std,0.095728,0.064307,0.110968,0.069887,0.105366,0.100965,0.085920,0.080227,0.056433,0.089237,0.067036
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.004362,0.013366,0.091124,0.019357,0.762167,0.803542,0.002006,0.001661,0.079894,0.312502,0.001277
50%,0.009363,0.026708,0.138036,0.020395,0.801047,0.861370,0.006929,0.004416,0.093451,0.335610,0.002217
75%,0.024128,0.052156,0.204860,0.025607,0.832537,0.918464,0.022906,0.013263,0.112891,0.366438,0.005721
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

**3.3 Silhouette Method to Determine Optimal "K" Centroids**

In [31]:
silScores = []
for k in range(2, 11):
    kmeans = KMeans(k)
    predictedClusters = kmeans.fit_predict(knn_data_scaled) 
    silScore=silhouette_score(knn_data_scaled, predictedClusters, metric = 'euclidean') 
    silScores.append(silScore)

In [32]:
silScores

[0.8083400709651516,
 0.20176456644888702,
 0.1899223029332952,
 0.2374718923189974,
 0.25177701078121206,
 0.20631141289273952,
 0.20159605531018257,
 0.18077192852452936,
 0.20872805104151052]

**3.4 KNN Classification**

In [38]:
#Selected K=6 from the silScores
#K value might change based on different feature selection
kmeans=KMeans(6)
clus = kmeans.fit_predict(knn_data_scaled)

**3.5 Assigning Category to the scaled dataset**

In [39]:
knn_data_scaled['category']=clus
knn_data_scaled.head(5)

,volume,twoHundredDayAverage,shortRatio,enterpriseValue,ebitdaMargins,grossMargins,totalDebt,totalCash,bookValue,trailingEps,marketCap,category
0,0.468893,0.005641,0.089774,0.035363,0.767979,0.787748,0.284749,0.100178,0.050578,0.267531,0.003748,5
1,0.001656,0.025504,0.215660,0.019152,0.800912,0.803012,0.000712,0.000141,0.084404,0.325499,0.001291,3
2,1.000000,0.073803,0.035775,1.000000,0.847241,0.854207,0.759653,0.385857,0.075834,0.387400,1.000000,2
3,0.002367,0.036818,0.120823,0.019798,0.821057,0.822220,0.014404,0.004853,0.224492,0.493323,0.001236,1
4,0.004517,0.020170,0.137023,0.018592,0.762167,0.742806,0.003515,0.018455,0.138087,0.372110,0.001527,3

In [40]:
knn_data_scaled['category'].value_counts()

3    400
0    102
1     39
4     13
5     10
2      5
Name: category, dtype: int64

# **4.0 Loading the classification result to the dataset**

**4.1 Analyzing the feature values of each category**

In [41]:
stocks_grouped=pd.DataFrame(knn_data_scaled.groupby(knn_data_scaled['category']).mean())
stocks_grouped

,volume,twoHundredDayAverage,shortRatio,enterpriseValue,ebitdaMargins,grossMargins,totalDebt,totalCash,bookValue,trailingEps,marketCap
category,,,,,,,,,,,
0,0.009732,0.029221,0.331404,0.020569,0.794210,0.862017,0.008054,0.004020,0.092812,0.328522,0.002261
1,0.016425,0.171954,0.118946,0.041363,0.842999,0.887864,0.077443,0.031199,0.200073,0.583947,0.020041
2,0.534203,0.075706,0.046169,0.698510,0.845305,0.880584,0.524589,0.741912,0.092714,0.374719,0.685942
3,0.026319,0.036751,0.126002,0.024787,0.795258,0.855277,0.023135,0.012813,0.100109,0.334943,0.005673
4,0.009264,0.017962,0.302344,0.019232,0.303408,0.539195,0.001486,0.006153,0.081193,0.263094,0.001539
5,0.503592,0.043682,0.062268,0.124413,0.824452,0.882241,0.183335,0.124245,0.093787,0.333820,0.046614

**4.2 Loading the Categories into the Stocks Dataset**

In [42]:
df.insert(3,value=clus,column='Stock_Group')

In [43]:
df.head(5)

,Ticker,zip,sector,Stock_Group,fullTimeEmployees,longBusinessSummary,city,phone,state,country,...,regularMarketPrice,preMarketPrice,logo_url,fax,trailingPE,address2,underlyingSymbol,underlyingExchangeSymbol,headSymbol,uuid
0,AAL,76155,Industrials,5,129200.0,"American Airlines Group Inc., through its subs...",Fort Worth,682 278 9000,TX,United States,...,13.20,13.46,https://logo.clearbit.com/aa.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAON,74107,Industrials,3,2881.0,"AAON, Inc., together with its subsidiaries, en...",Tulsa,918 583 2266,OK,United States,...,55.60,NaN,https://logo.clearbit.com/aaon.com,918 583 6094,53.980583,NaN,NaN,NaN,NaN,NaN
2,AAPL,95014,Technology,2,154000.0,"Apple Inc. designs, manufactures, and markets ...",Cupertino,408 996 1010,CA,United States,...,142.41,144.86,https://logo.clearbit.com/apple.com,NaN,23.538843,NaN,NaN,NaN,NaN,NaN
3,AAWW,10577-2543,Industrials,1,4056.0,"Atlas Air Worldwide Holdings, Inc., through it...",Purchase,914 701 8000,NY,United States,...,99.89,NaN,https://logo.clearbit.com/atlasairworldwide.com,914 701 8333,6.823087,NaN,NaN,NaN,NaN,NaN
4,ABCB,30305,Financial Services,3,2885.0,Ameris Bancorp operates as the bank holding co...,Atlanta,404 639 6500,GA,United States,...,50.40,NaN,https://logo.clearbit.com/amerisbank.com,NaN,10.478171,Suite 1550,NaN,NaN,NaN,NaN

**4.3 New Excel Workbook with Stocks Categorized**

In [ ]:
writer = pd.ExcelWriter('stocks_groups.xlsx', engine='xlsxwriter')
df.to_excel(writer,sheet_name='Sheet1')
stocks_grouped.to_excel(writer,sheet_name='Sheet2')
writer.save()

In [ ]:
files.download('stocks_groups.xlsx')